body{
    background-color: rgb(255, 0, 191);
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}



/* Style du Header en haut de la page */

#Header{
    display: flex;
    background-color: rgba(154,205,50,255);
    padding-left: 10px;
    height: 20vh;
}



/* Style du centre de la page avec les 3 blocs de couleurs et leurs éléments */

#mid{
    display: flex;
    flex-direction: row;
    height: 60vh;
}



/* Bloc Blanc avec le bloc contenant la suite de chiffre ascendant et le texte */

#Blanc{
    display: flex;
    flex-direction: column;
    flex: 7;
    background-color: white;
}

#ensembleBloc{
    display: flex;
    justify-content: flex-end;
}

#bloc5{
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 60px;
    margin-bottom: 45px;
    margin-top: 55px;
    background-color: rgba(128,139,141,255);
    font-size: 10px;
}

#bloc4{
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 60px;
    margin-bottom: 45px;
    margin-top: 55px;
    background-color: rgba(190,195,199,255);
    font-size: 10px;
}

#bloc3{
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(193,57,43,255);
    margin-top: 10px;
    font-size: 40px;
}

#bloc2{
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 60px;
    margin-bottom: 45px;
    margin-top: 55px;
    background-color: rgba(213,84,1,255);
    font-size: 10px;
}

#bloc1{
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 60px;
    margin-right: 10px;
    margin-bottom: 45px;
    margin-top: 55px;
    background-color: rgba(244,156,20,255);
    font-size: 10px;
}

#blocTexte{
    color: red;
    font-size: small;
}


/* Bloc Bleu contenant Aside */

#Bleu{
    display: flex;
    background-color: blue;
    flex: 3;
    color: white;
    padding-left: 15px;
}



/* Bloc Rouge contenant les boutons Menus */

#Rouge{
    display: flex;
    background-color: rgba(255,0,0,255);
    flex: 3;
    flex-direction: column;
    padding-top: 20px;
}

.menuCliquable{
    padding: 10px;
    color: white;
    text-decoration: none;
    padding-right: 150px;
    margin-right: 10px;
    margin-left: 10px;
    border-bottom: 0.1px solid rgba(255,255,255,0.3);
}

a:hover{
    background-color: rgba(255,192,203,255);
    color: rgba(255,0,0,255);
}



/* Style du Footer du bas de la page */

#Footer{
    display: flex;
    background-color: rgba(154,205,50,255);
    padding-left: 10px;
    height: 20vh;
}